
.header {
position: fixed; top: 0; left: 0; width: 100%;
  background: #000; color: #fff;
  z-index: 1000.
}

.header__inner {
  max-width: 1200px; margin: 0 auto;
  height: 85px ;
  display: flex; align-items: center; justify-content: space-between;
}

.header__nav-list {
  display: flex; gap: 32px;
	list-style: none; margin: 0; padding: 0;
  font-size: 15px;
}


/* burger menu */

.burger {
  display: none;
  width: 32px;
  height: 24px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
}

.burger span:nth-child(1) {
  top: 0;
}
.burger span:nth-child(2) {
  top: 11px;
}
.burger span:nth-child(3) {
  top: 22px;
}

.burger.active span:nth-child(1) {
  top: 11px;
  transform: rotate(45deg);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  top: 11px;
  transform: rotate(-45deg);
}


/* media */

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: block;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    z-index: 1001;
  }

  .header__nav {
    position: fixed;
    inset: 0;
    background-color: #000;
    padding-top: 80px;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    text-align: center;
    z-index: 1000;
  }
  .header__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header__nav-link {
    font-size: 18px;
  }

  .header__nav.open {
    transform: translateY(0);
  }
}